apiVersion: v1
data:
  REDIS_HOST: {{ .Values.backend.redis.host | quote }}
  REDIS_PORT: {{ .Values.backend.redis.port | quote }}

  DATABASE_NAME: {{ .Values.backend.database.name | quote }}
  DATABASE_SCHEMA: {{ .Values.backend.database.schema | quote }}
  DATABASE_HOST: {{ .Values.backend.database.host | quote }}
  DATABASE_PORT: {{ .Values.backend.database.port | quote }}
  DATABASE_USERNAME: {{ .Values.backend.database.auth.user | quote }}
  DATABASE_PASSWORD: {{ .Values.backend.database.auth.pass | quote }}

  EMAIL_FROM: {{ .Values.backend.smtp.from | quote }}
  EMAIL_ID: {{ .Values.backend.smtp.user | quote }}
  EMAIL_PASS: {{ .Values.backend.smtp.pass | quote }}
  EMAIL_HOST: {{ .Values.backend.smtp.host | quote }}
  EMAIL_PORT: {{ .Values.backend.smtp.port | quote }}

  APP_ROOT_DIRECTORY: {{ .Values.backend.appRootDirectory | quote }}

  ENCRYPTION_KEY: {{ .Values.backend.encryptionKey | quote }}

{{- range $key, $value := (.Values.worker).env }}
  {{ tpl $key $ }}: {{ tpl (print $value) $ | quote }}
{{- end }}
{{- range $key, $value := (.Values.global).env }}
  {{ tpl $key $ }}: {{ tpl (print $value) $ | quote }}
{{- end }}
kind: ConfigMap
metadata:
  labels:
    role: eoc-worker
  name: {{ template "eoc-worker.fullname" . }}
  labels:
    app: {{ template "eoc-worker.fullname" . }}
    chart: "{{ template "eoc-worker.chart" . }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"

